[Unit]
Description=Report UMI service availability every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=5s
Unit=umi-cohort-heartbeat.service

[Install]
WantedBy=timers.target
